@import url("https://fonts.googleapis.com/css2?family=Inter&family=Karla:ital@0;1&family=Kumbh+Sans:wght,YOPQ@100..900,40..300&family=Lexend+Deca:wght@100..900&family=Madimi+One&display=swap");
:root {
  --Orange: hsl(26, 100%, 55%);
  --Pale-orange: hsl(25, 100%, 94%);
  --Very-dark-blue: hsl(220, 13%, 13%);
  --Dark-grayish-blue: hsl(219, 9%, 45%);
  --Grayish-blue: hsl(220, 14%, 75%);
  --Light-grayish-blue: hsl(223, 64%, 98%);
  --White: hsl(0, 0%, 100%);
  --Black: hsl(0, 0%, 0%);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.box {
  max-width: 1440px;
  width: 100%;
  padding: 0 3rem;
  margin: 2em auto 0;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 400;
}
p {
  font-size: 16px;
}
/* header section */

.header {
  display: flex;
  justify-content: space-between;
  
}
.header-left {
  display: flex;
  align-items: center;
}
.header-left nav {
  margin-left: 3em;
}
.header-left nav ul li {
  list-style: none;
  display: inline-block;
  padding: 10px;
}
.header-left nav ul li a {
  text-decoration: none;
  color: var(--Dark-grayish-blue);
}
.header-left nav ul li::after {
  content: "";
  width: 0%;
  height: 3px;
  display: block;
  background-color: var(--Orange);
  margin: auto;
  transition: 0.5s;
  cursor: pointer;
}
.header-left nav ul li:hover::after {
  width: 100%; 
}
.header-right {
  display: flex;
  align-items: center;
  flex-basis: 1;
}
.image-avatar {
  width: 50px;
  height: 50px;
  cursor: pointer;
  margin-left: 2em;
}
.image-avatar:hover {
  border: 2px solid var(--Orange);
  border-radius: 50%;
}
hr {
  margin-top: 1em;
  border: 2px solid;
  color: var(--Light-grayish-blue);
}
/* ------------cart content--------- */
.cart-content img{
  position: relative;
}
.quality-label{
  position: absolute;
display: none;
top: 30px;
right: 125px;
background-color: var(--Orange);
color: var(--White);
padding: 2px 4px;
width: 20px;
height: 20px;
border-radius: 50%;
}
/* ------------cart card--------- */
.cart-box{
  position: absolute;
  top: 100px;
  right: 50px;
  background-color: var(--White);
  width: 250px;
  padding: 0.5rem;
  box-shadow: 0 5px 10px var(--Very-dark-blue);
  border-radius: 5px;
  display: none;
}

.cart-box.display{
  display: block;    /* display cart */
}
.cart-box .box-header{
  font-size: 1.4rem;
  font-weight: 600;
  position: relative;
}
.cart-box .box-header::after{
  position: absolute;
  content: "";
  left: 0;
  bottom: -15px;
  height: 3px;
  width: 100%;
  background-color: var(--Light-grayish-blue);
}
.product-content{
margin-top: 3rem;
display: flex;
justify-content: space-between;
align-items: center;
/* display: none; */
}
.product-content > img{
  width: 60px;
  border-radius: 10px;
}
.total{
  font-weight: 600;
}
/*------------- empty cart card ----------*/
.cart-empty{
  text-align: center;
  font-weight: 600;
  padding: 1rem 0;
}
.cart-empty p{
  padding: 2rem 0;
}

/* -------------------container section-------------- */
.container {
  margin-top: 2em;
  width: 100%;
}
.product-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2em;
  width: 90%;
}

/* right side of the container */

.container-right img{
  display: block;
  object-fit: cover;
  width: 70%;
  border-radius: 10px;
  cursor: pointer;
}
.large-image{
  margin-left: 2em;
}
.thumbnail{
 display: grid;
 grid-template-columns: repeat(4, 1fr);
 column-gap: 10px;
margin-top: 15px;
width: 70%;
margin-left: 2em;
}
.thumbnail img{
 object-fit: cover;
 width: 100%;
}
 .thumbnail img.active{
  border: 3px solid var(--Orange);
  opacity: 0.6;
 }
 .thumbnail img:active{
  border: 3px solid var(--Orange);
  opacity: 0.6;
 }
/* left side of the container */
.container-left h3 {
  color: var(--Orange);
}
.container-left p {
  color: var(--Dark-grayish-blue);
  margin: 0;
}
.container-left h1 {
  margin: 0.5em 0;
  font-weight: 700;
}
.container-left .price {
  margin-bottom: 2em;
}
.price .dollar {
  font-size: large;
  font-weight: 700;
  text-decoration: line-through;
  color: var(--Grayish-blue);
  width: 50%;
}
.top {
  display: flex;
  align-items: center;
  width: 50%;
}
.top span {
  margin-left: 15px;
  padding: 5px;
  background-color: var(--Pale-orange);
  color: var(--Orange);
  border-radius: 5px;
  border: none;
  font-weight: 700;
}
.foot {
  display: flex;
  flex-direction: row;
}
.foot .clear-btn {
  width: 30%;
  padding: 1px;
  border: none;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.foot .colored-btn {
  width: 60%;
  padding: 8px;
  margin-left: 10px;
  background-color: var(--Orange);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.colored-btn:active {
  background-color: var(--Pale-orange);
}
.foot img:hover {
  background-color: var(--Pale-orange);
  cursor: pointer;
}
.colored-btn img {
  margin-right: 20px;
  background-color: var(--Orange);
}
button {
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 700;
  font-size: large;
}
/*------------------ modal design ------------*/
.modal{
  width: 100%;
  height: 100%;
  display: none;
}
.modal::before{
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgb(0,0,0,0.7);
}
.modal-wrapper{
  width: 450px;
  top: 53%;
  left: 55%;
  position: absolute;
  transform: translate(-50%, -50%);
}
.product-image-modal img{
  object-fit: cover;
  width: 80%;
  border-radius: 10px;
  cursor: pointer;
}
.thumbnail-modal{
  display: grid;
 grid-template-columns: repeat(4, 1fr);
 column-gap: 10px;
 margin-top: 15px;
width: 80%;
}
.thumbnail-modal img{
  width: 100%;
}
.close-icon{
  right: 95px;
  top: -20px;
  cursor: pointer;
  position: absolute;
}

@media (max-width: 760px) {
  .box{
    margin: 0;
    padding: 0;
  }
.header{
  margin: 0 1em;
}
  nav {
    display: none;
  }

  .product-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    width: 100%;
  }
  .container-right img{
    border-radius: 0;
  }
  .container{
    margin-top: 0.5em;
  }
  .container-right img{
    width: 100%;
    margin: 0;
    justify-content: center;
  }
  .foot {
    display: flex;
    flex-direction: column;
  }
  .foot .clear-btn {
    width: 100%;
    padding: 8px;
    margin: 0 auto;
  }
  .foot .colored-btn {
    width: 100%;
    margin: 10px auto;
  }
  .container-left{
    width: 90%;
    margin: 0 auto;
  }
  .container-left .price {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    margin: 8px auto;
  }
  .top {
    margin: 0;
  }
  .top span {
    margin-left: 7px;
    padding: 1px;
    font-size: small;
  }
  .container-left h1 {
    font-size: 24px;
    font-weight: 700;
  }
  .container-left h3 {
    font-size: smaller;
  }
  .container-right{
    position: relative;
  }
 .cart{
  margin-left: 20px;
 }
  .next{
    right: 8px;
  }
  .quality-label{
    display: none;
    right: 95px;
    top: 4px;
  }
  .thumbnail{
    display: none;
  }
  hr{
    display: none;
  }
  .dollar{
    text-align: right;
  }
}
